/upgrade
/uploads
/plugins/woocommerce
/plugins/advanced-custom-fields-pro
.DS_Store
*/.DS_Store
/themes/storefront
/themes/boutique
/themes/boutique-child/assets/img
/themes/boutique-child/assets/css
.sass-cache
