/upgrade
/uploads
/plugins/woocommerce
/plugins/advanced-custom-fields-pro
/plugins/contact-form-7
.DS_Store
*/.DS_Store
/themes/storefront
/themes/boutique
/themes/storefront-child/assets/img
/themes/storefront-child/assets/css
.sass-cache
